body {
  background-color: #f9f9fa;
}

#ul1 {
  float: left;
}
#ul2 {
  float: right;
  margin-top: -40px;
  margin-right: 37px;
}

#image1 {
  width: 133px;
}

#a1 {
  text-decoration: none;
  color: #0f69ff;
}

#d2 {
  margin-top: 0px;
  background-color: #f9f9fa;
  width: 100%;
  padding-bottom: 25px;
}

#d3 {
  margin-top: 120px;
  margin-left: 300px;
}

#p1 {
  font-size: 20px;
}
#image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#f1 {
  float: right;
  padding: 65px;
  padding-bottom: 350px;
  padding-top: 30px;
  background-color: #ffffff;
  margin-top: -240px;
  margin-right: 245px;
  border: 1px solid #ddd0d0;
}
#h1 {
  text-align: center;
  margin-top: 5px;
}

#p2 {
  margin-top: -13px;
  font-weight: 490;
  font-size: 17px;
}

#user {
  border: #ffffff;
  width: 250px;
  font-size: 12px;
  margin-top: 55px;
}

#hr1 {
  background-color: #f2f6f8;
}

#b1 {
  background-color: rgb(59, 120, 233);
  width: 400px;
  height: 50px;
  font-size: 25px;
}
